The following datasets contain **information on cycling activities in Munich** based on district; a *Raddauerzählstelle* is a roughly 2 meters high metallic device that is spread throughout Munich and continuously records the number of passing cyclists (including the direction from where the cyclist is coming from).

The datasets can be found under the following **link**: https://opendata.muenchen.de/dataset/daten-der-raddauerzaehlstellen-muenchen-2022. This is the official *repository* of the city of Munich with a variety of different datasets that have been recorded over time. It seems plausible to assume that the underlying reasoning for making this data public lies in satisfying growing demand from both private and public initiatives to perform data mining with information that was previously not available or technically attainable (the beforementioned recording devices can be viewed as progress on local digitalization measures) - for the purpose of gaining new insights.

Let's take a look at the **two datasets**:

In [3]:
# Creating dataframes with CSV files
import pandas as pd

csv_url_minutes = "https://raw.githubusercontent.com/athielem/Data_Science_Projects/main/Datasets/rad_2022_01_15min.csv"
csv_url_days = "https://raw.githubusercontent.com/athielem/Data_Science_Projects/main/Datasets/rad_2022_01_tage.csv"

df_minutes = pd.read_csv(csv_url_minutes)
df_days = pd.read_csv(csv_url_days)

In [4]:
df_days

,datum,uhrzeit_start,uhrzeit_ende,zaehlstelle,richtung_1,richtung_2,gesamt,min-temp,max-temp,niederschlag,bewoelkung,sonnenstunden
0,2022.01.01,00:00,23.59,Arnulf,444,0,444,3.2,13.4,0.0,68,7.6
1,2022.01.02,00:00,23.59,Arnulf,476,0,476,1.9,15.8,0.0,80,4.7
2,2022.01.03,00:00,23.59,Arnulf,752,0,752,8.7,11.5,0.7,99,0.0
3,2022.01.04,00:00,23.59,Arnulf,603,0,603,3.7,16.5,10.3,98,1.0
4,2022.01.05,00:00,23.59,Arnulf,578,0,578,0.3,3.9,1.2,95,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...
181,2022.01.27,00:00,23.59,Erhardt,1944,1883,3827,-2.1,7.6,1.4,90,8.6
182,2022.01.28,00:00,23.59,Erhardt,1272,1223,2495,0.7,3.5,1.9,95,0.0
183,2022.01.29,00:00,23.59,Erhardt,1017,957,1974,0.7,7.2,0.0,95,1.4
184,2022.01.30,00:00,23.59,Erhardt,1050,956,2006,1.9,7.7,0.3,73,5.5
185,2022.01.31,00:00,23.59,Erhardt,1323,1258,2581,1.0,4.2,4.1,96,0.3

In [5]:
df_minutes

,datum,uhrzeit_start,uhrzeit_ende,zaehlstelle,richtung_1,richtung_2,gesamt
0,2022.01.01,00:00,00:15,Arnulf,0,0,0
1,2022.01.01,00:15,00:30,Arnulf,0,0,0
2,2022.01.01,00:30,00:45,Arnulf,0,0,0
3,2022.01.01,00:45,01:00,Arnulf,1,0,1
4,2022.01.01,01:00,01:15,Arnulf,1,0,1
...,...,...,...,...,...,...,...
17851,2022.01.31,22:45,23:00,Erhardt,5,4,9
17852,2022.01.31,23:00,23:15,Erhardt,3,2,5
17853,2022.01.31,23:15,23:30,Erhardt,3,2,5
17854,2022.01.31,23:30,23:45,Erhardt,1,2,3
17855,2022.01.31,23:45,00:00,Erhardt,1,1,2